[data-color-mode="light"] .highlight table td { padding: 5px; }
[data-color-mode="light"] .highlight table pre { margin: 0; }
[data-color-mode="light"] .highlight, [data-color-mode="light"] .highlight .w {
  color: #24292f;
  background-color: #f6f8fa;
}
[data-color-mode="light"] .highlight .k, [data-color-mode="light"] .highlight .kd, [data-color-mode="light"] .highlight .kn, [data-color-mode="light"] .highlight .kp, [data-color-mode="light"] .highlight .kr, [data-color-mode="light"] .highlight .kt, [data-color-mode="light"] .highlight .kv {
  color: #cf222e;
}
[data-color-mode="light"] .highlight .gr {
  color: #f6f8fa;
}
[data-color-mode="light"] .highlight .gd {
  color: #82071e;
  background-color: #ffebe9;
}
[data-color-mode="light"] .highlight .nb {
  color: #953800;
}
[data-color-mode="light"] .highlight .nc {
  color: #953800;
}
[data-color-mode="light"] .highlight .no {
  color: #953800;
}
[data-color-mode="light"] .highlight .nn {
  color: #953800;
}
[data-color-mode="light"] .highlight .sr {
  color: #116329;
}
[data-color-mode="light"] .highlight .na {
  color: #116329;
}
[data-color-mode="light"] .highlight .nt {
  color: #116329;
}
[data-color-mode="light"] .highlight .gi {
  color: #116329;
  background-color: #dafbe1;
}
[data-color-mode="light"] .highlight .ges {
  font-weight: bold;
  font-style: italic;
}
[data-color-mode="light"] .highlight .kc {
  color: #0550ae;
}
[data-color-mode="light"] .highlight .l, [data-color-mode="light"] .highlight .ld, [data-color-mode="light"] .highlight .m, [data-color-mode="light"] .highlight .mb, [data-color-mode="light"] .highlight .mf, [data-color-mode="light"] .highlight .mh, [data-color-mode="light"] .highlight .mi, [data-color-mode="light"] .highlight .il, [data-color-mode="light"] .highlight .mo, [data-color-mode="light"] .highlight .mx {
  color: #0550ae;
}
[data-color-mode="light"] .highlight .sb {
  color: #0550ae;
}
[data-color-mode="light"] .highlight .bp {
  color: #0550ae;
}
[data-color-mode="light"] .highlight .ne {
  color: #0550ae;
}
[data-color-mode="light"] .highlight .nl {
  color: #0550ae;
}
[data-color-mode="light"] .highlight .py {
  color: #0550ae;
}
[data-color-mode="light"] .highlight .nv, [data-color-mode="light"] .highlight .vc, [data-color-mode="light"] .highlight .vg, [data-color-mode="light"] .highlight .vi, [data-color-mode="light"] .highlight .vm {
  color: #0550ae;
}
[data-color-mode="light"] .highlight .o, [data-color-mode="light"] .highlight .ow {
  color: #0550ae;
}
[data-color-mode="light"] .highlight .gh {
  color: #0550ae;
  font-weight: bold;
}
[data-color-mode="light"] .highlight .gu {
  color: #0550ae;
  font-weight: bold;
}
[data-color-mode="light"] .highlight .s, [data-color-mode="light"] .highlight .sa, [data-color-mode="light"] .highlight .sc, [data-color-mode="light"] .highlight .dl, [data-color-mode="light"] .highlight .sd, [data-color-mode="light"] .highlight .s2, [data-color-mode="light"] .highlight .se, [data-color-mode="light"] .highlight .sh, [data-color-mode="light"] .highlight .sx, [data-color-mode="light"] .highlight .s1, [data-color-mode="light"] .highlight .ss {
  color: #0a3069;
}
[data-color-mode="light"] .highlight .nd {
  color: #8250df;
}
[data-color-mode="light"] .highlight .nf, [data-color-mode="light"] .highlight .fm {
  color: #8250df;
}
[data-color-mode="light"] .highlight .err {
  color: #f6f8fa;
  background-color: #82071e;
}
[data-color-mode="light"] .highlight .c, [data-color-mode="light"] .highlight .ch, [data-color-mode="light"] .highlight .cd, [data-color-mode="light"] .highlight .cm, [data-color-mode="light"] .highlight .cp, [data-color-mode="light"] .highlight .cpf, [data-color-mode="light"] .highlight .c1, [data-color-mode="light"] .highlight .cs {
  color: #6e7781;
}
[data-color-mode="light"] .highlight .gl {
  color: #6e7781;
}
[data-color-mode="light"] .highlight .gt {
  color: #6e7781;
}
[data-color-mode="light"] .highlight .ni {
  color: #24292f;
}
[data-color-mode="light"] .highlight .si {
  color: #24292f;
}
[data-color-mode="light"] .highlight .ge {
  color: #24292f;
  font-style: italic;
}
[data-color-mode="light"] .highlight .gs {
  color: #24292f;
  font-weight: bold;
}
[data-color-mode="dark"] .highlight table td { padding: 5px; }
[data-color-mode="dark"] .highlight table pre { margin: 0; }
[data-color-mode="dark"] .highlight, [data-color-mode="dark"] .highlight .w {
  color: #c9d1d9;
  background-color: #161b22;
}
[data-color-mode="dark"] .highlight .k, [data-color-mode="dark"] .highlight .kd, [data-color-mode="dark"] .highlight .kn, [data-color-mode="dark"] .highlight .kp, [data-color-mode="dark"] .highlight .kr, [data-color-mode="dark"] .highlight .kt, [data-color-mode="dark"] .highlight .kv {
  color: #ff7b72;
}
[data-color-mode="dark"] .highlight .gr {
  color: #f0f6fc;
}
[data-color-mode="dark"] .highlight .gd {
  color: #ffdcd7;
  background-color: #67060c;
}
[data-color-mode="dark"] .highlight .nb {
  color: #ffa657;
}
[data-color-mode="dark"] .highlight .nc {
  color: #ffa657;
}
[data-color-mode="dark"] .highlight .no {
  color: #ffa657;
}
[data-color-mode="dark"] .highlight .nn {
  color: #ffa657;
}
[data-color-mode="dark"] .highlight .sr {
  color: #7ee787;
}
[data-color-mode="dark"] .highlight .na {
  color: #7ee787;
}
[data-color-mode="dark"] .highlight .nt {
  color: #7ee787;
}
[data-color-mode="dark"] .highlight .gi {
  color: #aff5b4;
  background-color: #033a16;
}
[data-color-mode="dark"] .highlight .ges {
  font-weight: bold;
  font-style: italic;
}
[data-color-mode="dark"] .highlight .kc {
  color: #79c0ff;
}
[data-color-mode="dark"] .highlight .l, [data-color-mode="dark"] .highlight .ld, [data-color-mode="dark"] .highlight .m, [data-color-mode="dark"] .highlight .mb, [data-color-mode="dark"] .highlight .mf, [data-color-mode="dark"] .highlight .mh, [data-color-mode="dark"] .highlight .mi, [data-color-mode="dark"] .highlight .il, [data-color-mode="dark"] .highlight .mo, [data-color-mode="dark"] .highlight .mx {
  color: #79c0ff;
}
[data-color-mode="dark"] .highlight .sb {
  color: #79c0ff;
}
[data-color-mode="dark"] .highlight .bp {
  color: #79c0ff;
}
[data-color-mode="dark"] .highlight .ne {
  color: #79c0ff;
}
[data-color-mode="dark"] .highlight .nl {
  color: #79c0ff;
}
[data-color-mode="dark"] .highlight .py {
  color: #79c0ff;
}
[data-color-mode="dark"] .highlight .nv, [data-color-mode="dark"] .highlight .vc, [data-color-mode="dark"] .highlight .vg, [data-color-mode="dark"] .highlight .vi, [data-color-mode="dark"] .highlight .vm {
  color: #79c0ff;
}
[data-color-mode="dark"] .highlight .o, [data-color-mode="dark"] .highlight .ow {
  color: #79c0ff;
}
[data-color-mode="dark"] .highlight .gh {
  color: #1f6feb;
  font-weight: bold;
}
[data-color-mode="dark"] .highlight .gu {
  color: #1f6feb;
  font-weight: bold;
}
[data-color-mode="dark"] .highlight .s, [data-color-mode="dark"] .highlight .sa, [data-color-mode="dark"] .highlight .sc, [data-color-mode="dark"] .highlight .dl, [data-color-mode="dark"] .highlight .sd, [data-color-mode="dark"] .highlight .s2, [data-color-mode="dark"] .highlight .se, [data-color-mode="dark"] .highlight .sh, [data-color-mode="dark"] .highlight .sx, [data-color-mode="dark"] .highlight .s1, [data-color-mode="dark"] .highlight .ss {
  color: #a5d6ff;
}
[data-color-mode="dark"] .highlight .nd {
  color: #d2a8ff;
}
[data-color-mode="dark"] .highlight .nf, [data-color-mode="dark"] .highlight .fm {
  color: #d2a8ff;
}
[data-color-mode="dark"] .highlight .err {
  color: #f0f6fc;
  background-color: #8e1519;
}
[data-color-mode="dark"] .highlight .c, [data-color-mode="dark"] .highlight .ch, [data-color-mode="dark"] .highlight .cd, [data-color-mode="dark"] .highlight .cm, [data-color-mode="dark"] .highlight .cp, [data-color-mode="dark"] .highlight .cpf, [data-color-mode="dark"] .highlight .c1, [data-color-mode="dark"] .highlight .cs {
  color: #8b949e;
}
[data-color-mode="dark"] .highlight .gl {
  color: #8b949e;
}
[data-color-mode="dark"] .highlight .gt {
  color: #8b949e;
}
[data-color-mode="dark"] .highlight .ni {
  color: #c9d1d9;
}
[data-color-mode="dark"] .highlight .si {
  color: #c9d1d9;
}
[data-color-mode="dark"] .highlight .ge {
  color: #c9d1d9;
  font-style: italic;
}
[data-color-mode="dark"] .highlight .gs {
  color: #c9d1d9;
  font-weight: bold;
}
